.main-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.sidebar-toggler{
    display: flex;
    align-items: center;
    margin-right: .75rem;
}
.sidebar-toggler img{
    width: 20px;
}

.content-top-title{
    color: var(--clr-white);
    font-size: 1.25rem;
    font-weight: 600;
}
.content-top-btn{
    margin-left: 1.125rem;
}

.content-top-btn img{
    width: 1.25rem;
}
.content-top-btn img:hover{
    filter: brightness(0) invert(1);
}

.content-top-left{
    display: flex;
    align-items: center;
    
}